/* Переменные */
:root {
  --title-color: #212121;
  --text-main: #757575;
  --text-footer: rgba(255, 255, 255, 0.6);
  --item-on: #2196f3;
  --item-off: #ffffff;
  --section-background: #e5e5e5;
  --section-bg:#2F303A;
  --bt-background:#F5F4FA;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-main);
  background-color: #ffffff;
}

section {
    align-items: center;
}
/* Скрыть H1*/
.title-hiden {
  display:none;
}
/* Работа со ссылками */
.link {
  text-decoration: none;
  color: var(--title-color);
}
.link:hover,
.link:focus {
  color: var(--item-on);
}

/* Обнуление стиля списков */
.list li {
  list-style: none;
}

/* Отображение логотипа */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.logo:hover {
  color: var(--title-color);
}
.logo span {
  color: var(--item-on);
}

/* Меню навигации */
.navig {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.navig:hover {
  color: var(--item-on);
}
.contacts {
  color: var(--text-main);
}

/* Заказ услуг */
.title-services {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--item-off);
}
.bg-service {
    background: var(--section-bg);
}
.button-service {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--item-off);
  background-color: var(--item-on); 
  cursor: pointer; 
  border-width: 0;   
}

/* Ценности */
.sect-values {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.values-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Заголовки секций */
.title-sections {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

/* Члены команды */
.title-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.member-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Портфолио */
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.bt-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--bt-background); 
  border-width: 0;
  margin: 2px;
}
.bt-portfolio:hover {
  color: var(--item-off);
  background-color: var(--item-on); 
    
}

/* Оформление футера */
footer .logo,
footer .logo:hover {
    color:var(--item-off)
}
.location {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--item-off);
    text-decoration: none;
    font-style: normal;
}
address .link,
address .link:hover {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color:var(--text-footer)
}